.form
    input.form__input(type="text")
    button.form__btn

nav.nav
    a.nav__link(href="#") link 1
    a.nav__link(href="#") link 2
    a.nav__link(href="#") link 3
    a.nav__link(href="#") link 4
    a.nav__link(href="#") link 5
    a.nav__link(href="#") link 6
    a.nav__link(href="#") link 7

script(src="bundle.js")
